name: Process Lyricify Syllable Lyrics

on:
  issues:
    types: [opened, edited]

permissions:
  issues: write

jobs:
  process_lyrics:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: python3 -m pip install requests

      - name: Process Lyrics
        run: python3 process_lyrics.py
